
*{
    margin: 0;
    padding: 0;
}


/*tästä alkaa nav*/

nav{
    text-align: center;
    background-color: #ffffff3b;
    text-decoration: none;
}

nav ul{
    border: 1; color: black;
    list-style: none;}

nav ul li{
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color: black;

}

nav a:hover{
    color: #ffffff;
}

/*nav päättyy*/

/*kaikki tyylit tänne*/

body {
    background-color: rgb(151, 114, 100);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

#eka h1{
    color: hsl(0, 0%, 100%);
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

}

#toka h1{
    color: rgb(87, 54, 31);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}


#kol h1{color: rgb(20, 8, 3);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#eka img {
    max-width: 30%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
  }

#toka img {
    max-width: 30%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
  }

  #kol img {
    max-width: 30%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;


  }


  #eka p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
  }

  #toka p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }

  #kol p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }







